{% extends 'base.html' %} {% block content %}
<!-- *****  Games Start ***** -->
<div class="game-details">
	<div class="row">
		<div class="most-popular">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-section">
						<h4>Games</h4>
					</div>
					<div class="row">
						{% for game in games|slice:4 %}
						<div class="col-lg-3 col-sm-6">
							<div class="item">
								<img src="{{game.mimage.url}}" alt="" />
								<h4>
									<a href="{% url 'games:details' game.slug %}">{{game.name}}</a
									><br /><span>{{game.company}}</span>
								</h4>
								<ul>
									<li><i class="fa fa-star"></i>{{game.rate}}</li>
									<li>
										<i class="fa fa-download"></i>
										{{game.downloaders.count}}
									</li>
								</ul>
							</div>
						</div>
						{% endfor %}
						<div class="col-lg-12">
							<div class="main-button">
								<a href="{% url 'games:browse' %}">Discover All Games</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Games End ***** -->

		<hr />

		<!-- ***** Streams Start ***** -->
		<div class="live-stream">
			<div class="col-lg-12">
				<div class="heading-section">
					<h4>Streams</h4>
				</div>
			</div>
			<div class="row">
				{% for stream in streams|slice:4 %} {% if stream.status == True %}
				<div class="col-lg-3 col-sm-6">
					<div class="item">
						<div class="thumb">
							<img src="{{stream.image.url}}" alt="" />
							<div class="hover-effect">
								<div class="content">
									<div class="live">
										<a href="#">Live</a>
									</div>
									<ul>
										<li>
											<a href="#"
												><i class="fa fa-eye"></i>
												{{stream.viewers.count}}</a
											>
										</li>
										<li>
											<a href="#"
												><i class="fa fa-gamepad"></i> {{stream.type}}</a
											>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="down-content">
							<div class="avatar">
								<img
									src="{{stream.streamer.profile.image.url}}"
									alt=""
									style="max-width: 46px; border-radius: 50%; float: left"
								/>
							</div>
							<span
								><i class="fa fa-check"></i>
								<a href="{% url 'accounts:profile' stream.streamer.profile.slug %}"
									>{{stream.streamer}}</a
								></span
							>
							<h4>{{stream.title}}</h4>
						</div>
					</div>
				</div>
				{% endif %} {% endfor %}
				<div class="col-lg-12">
					<div class="main-button">
						<a href="{% url 'streams:streams' %}">Discover All Streams</a>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Streams End ***** -->
	</div>
</div>
{% endblock content %}
